<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Object Detection using Web Cam </title>

    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="container">
<!--            <div class="col-sm-12 cv-cont">-->
<!--                <div class="header row">-->
<!--                    <h2>Jimmy Anderson</h2>-->
<!--                    <p>Web Designer/Web Developer</p>-->
<!--                </div>-->

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Resume</a>
<!--                         <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#port-folio" role="tab" aria-controls="nav-profile" aria-selected="false">Portfolio</a>-->
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="cv-port row">
                        <div class="col-md-8">
                            <div class="cv-stail row">
                                <div class="col-sm-4 vbhfg center">
                                    <img src="assets/images/profile.jpg" alt=""> <br>
                                    <a href=""><i class="fas fa-cloud-download-alt"></i> Download Resume</a>
                                </div>
                                <div class="col-sm-8">
                                    <h3>Hire Me for Your Next Project</h3>
                                    <b>I will work hard to grow your business</b>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                                </div>
                            </div>
                            <div class="jumbo-address row">
                                <div class="row w-100 no-margin">
                                    <div class="col-lg-6 no-padding">

                                        <table class="addrss-list">
                                            <tbody>
                                                <tr>
                                                    <th>Position</th>
                                                    <td>Freelance</td>
                                                </tr>
                                                <tr>
                                                    <th>Nationality</th>
                                                    <td>American</td>
                                                </tr>
                                                <tr>
                                                    <th>Date of birth</th>
                                                    <td>09-06-1989</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-lg-6 no-padding">
                                        <table class="addrss-list">
                                            <tbody>
                                                <tr>
                                                    <th>Experiance</th>
                                                    <td>5+ Years</td>
                                                </tr>
                                                <tr>
                                                    <th>Website</th>
                                                    <td>www.yourdomain.com</td>
                                                </tr>
                                                <tr>
                                                    <th>Languages</th>
                                                    <td>English,French,Germany</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cv-info">
                               <div class="cvp">


                                <h6>General Information</h6>
                                <b>Name</b>
                                <p>Jimmy Anderson</p>
                                <b>Date of Birth</b>
                                <p>9-06-1989</p>
                                <b>Address</b>
                                <p>First Floor,Vincent Plaza, Kuzhithurai, Marthandam</p>
                             </div>
                              <h6 class="skillc">Skills</h6>
                               <div class="skp">



                                <div class="profess-cover  no-margin">

                                        <div class=" prog-row row">
                                            <div class="col-6">
                                                Photoshop
                                            </div>
                                            <div class="col-6">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row prog-row">
                                            <div class="col-6">
                                                PHP
                                            </div>
                                            <div class="col-6">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row prog-row">
                                            <div class="col-6">
                                                Web Design
                                            </div>
                                            <div class="col-6">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row prog-row">
                                            <div class="col-6">
                                                Bootstrap
                                            </div>
                                            <div class="col-6">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane education-detail fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                   <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>Master Degree</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Cambridg University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>Bacholers Degree</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Anna University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>High School</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>A.M.H.S.S</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                                      <div class="service no-margin row">
                                          <div class="col-sm-3 resume-dat serv-logo">
                                              <h6>2013-2015</h6>
                                            <p>School</p>
                                          </div>
                                          <div class="col-sm-9 rgbf">
                                              <h5>Anna University</h5>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                          </div>
                                      </div>
                </div>

                 <div class="tab-pane portfolio-detail fade" id="port-folio" role="tabpanel" aria-labelledby="nav-contact-tab">
                     <div class="row no-margin gallery">
                      <div class="col-sm-4">
                          <img src="{{ url_for('video_feed') }}" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_02.jpg" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_03.jpg" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_04.jpg" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_05.jpg" alt="">
                      </div>
                      <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_06.jpg" alt="">
                      </div>
                       <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_10.jpg" alt="">
                      </div>
                       <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_08.jpg" alt="">
                      </div>
                       <div class="col-sm-4">
                          <img src="assets/images/gallery/gallery_09.jpg" alt="">
                      </div>

                  </div>
                     
                 </div>
                
                <div class="tab-pane fade contact-tab" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row contact-ro no-margin">

                                          <div class="col-md-6 no-padding">
                                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176144.0450019627!2d-107.79423426090409!3d38.97644533805396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C+USA!5e0!3m2!1sen!2sin!4v1547222354537"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                          </div>
                                          <div class="col-md-6 pr-0">
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Full Name" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   <div class="col-sm-6">
                                                      <input placeholder="Enter Email Address" type="text" class="form-control form-control-sm">
                                                  </div>
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Mobile Number" type="text" class="form-control form-control-sm">
                                                  </div>

                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-12">
                                                     <textarea placeholder="Enter your Message" class="form-control form-control-sm" rows="10"></textarea>
                                                  </div>

                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <button class="btn btn-sm btn-success">Send Message</button>
                                                  </div>

                                              </div>
                                          </div>
                                      </div>
                </div>
            </div>


        </div>
        <div class="foot-credit">
            <p>Designed by <a href="https://www.smarteyeapps.com/">Smarteyeapps.com</a> remove footer credit by donationg $5
        </div>
    </div>
    </div>
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>